@model IList<Web_Shop_SettingIphone.Models.Entity.DientuDungluong>

<div class="col-md-2">
    <div class="form-group">
        <label class="checkbox-inline">Dung lượng</label>
        <select id="SelectIddungluongCH" name="SelectIddungluongcCH" class="form-group easyui-validatebox tb validatebox-text validatebox-invalid">
            <option value="">Chọn Dung lượng</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select>

    </div>
</div>