@model IList<Web_Shop_SettingIphone.Models.Entity.DientuMathang>
@if (Model.Count > 0)
{
    <div class="hinhhienthi col-md-6 col-xs-12 col-sm-12 col-lg-8">
        @foreach (var item in Model)
        {
            double Giaban = Convert.ToDouble((Html.Action("_resurtPricebanmain", "ScreenProduct", new { tag = item.Tag }).ToHtmlString()));

            <div class="sp col-md-3 col-sm-3">
                <a href="/san-pham/@item.Cateprolevel3/@item.Tag">
                    <img src="@Html.Action("_resurtImagesmain", "ScreenProduct", new { tag = item.Tag })" alt="@item.Tenhang">
                </a>
                <p><a href="/san-pham/@item.Cateprolevel3/@item.Tag">@item.Tenhang</a></p>
                <h6>@string.Format("{0:0,0}", Giaban) (Vnđ)</h6>
                <span>
                    <span><img src="/images/Product/ic-tag-1.jpg" alt=""></span>
                </span>
            </div>
        }
    </div>

}