<div class="panel-heading" id="update_paner">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <header>
                    <i class="fa fa-user"></i> Cập nhật danh mục <span class="Editcatelog"></span>
                </header>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a> <!--collapse-->

            </div>
        </div>
        <div class="portlet-body flip-scroll">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#HtmlName" data-toggle="tab">Tên Danh mục</a>
                    </li>
                    <li>
                        <a href="#HtmlType" data-toggle="tab">Vị trí Danh Mục</a>
                    </li>
                    <li>
                        <a href="#Htmlcode" data-toggle="tab">Soạn Mã Code HTML</a>
                    </li>
                    <li>
                        <a href="#HtmlImage" data-toggle="tab">Hình Ảnh</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="HtmlName">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group hidden">
                                    <label>ID</label>
                                    <input class="form-group" id="TxtId" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Tiếng việt</label>
                                    <input class="form-group easyui-validatebox tb" id="TxtTen" data-options="prompt:'Nhập tên danh mục tiếng việt',required:true" type="text" placeholder="">
                                </div>
                                <div class="form-group hidden">
                                    <label>Tiếng Anh</label>
                                    <input class="form-group easyui-validatebox tb" id="TxtTenEn" data-options="prompt:'Nhập tên danh mục tiếng anh',required:true" type="text" placeholder="">
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="HtmlType">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-10">
                                <div class="form-group">
                                    <label>Chọn Vị trí danh mục</label>
                                    <select class="form-control" name="Type" id="SelectType">
                                        <option value="" selected="selected">Chọn vị trí danh mục</option>
                                        <option value="1" >Text trình chiếu</option>
                                        <option value="2">Text tin tức</option>
                                        <option value="4">Text hỗ trợ</option>
                                        <option value="5">Top thông tin</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="TxtOrd">Sắp xếp</label> <br />
                                    <input class="form-group" type="number" id="TxtOrd" value="1" min="1">
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">Kích hoạt </label>
                                    <input id="CKActive" class="checkbox-inline" type="checkbox" checked="checked" value="1">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="tab-pane fade" id="Htmlcode">
                        <div class="form-group">
                            <label>Nội dung tiếng việt <span class="TxtHtmlcontent"></span></label>
                            <textarea class="form-control" id="TxtHtmlcontent" rows="3"></textarea>
                        </div>
                        <div class="form-group hidden">
                            <label>Nội dung tiếng Anh<span class="TxtHtmlcontentEn"></span></label>
                            <textarea class="form-control" id="TxtHtmlcontentEn" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="HtmlImage">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Up load hình ảnh <span class="Txtimages"></span></label>
                                    <div class="form-group">
                                        <div class="col-md-12 pading-left-Select">
                                            <div class="col-md-3">
                                                <input class="form-group-sm easyui-validatebox tb" id="Txtimages" data-options=" prompt:'hình ảnh',required:true" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <span class="form-group">
                                                    <button type="button" class="btn btn-white" id="Selectimages">Chọn Ảnh!</button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <img class="ShowImgZoom img-responsive" src="/images/no-image.jpg"  id="imgShowScren">
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>

                        <div class="clear-fix"></div>
                        <div class="padding-form">
                            <div class="form-group">
                                <button type="submit" id="Save" class="btn btn-default"><i class="fa fa-times-circle"></i> Lưu Lại</button>
                                <button type="submit" id="Cancel" class="btn btn-default"><i class="fa fa-save"></i> Hủy bỏ</button>
                            </div>
                        </div>
                    </div>
            <!-- /.panel-body -->

        </div>
    </div>

</div>



 
<!--jquery action-->
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Create.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Update.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/read.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Active.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Delete.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Cancel.js"></script>
<script src="/Areas/Quanlywebsite/JavaScrip/Html/Save.js"></script>




<!--javascrip images ckfinder  -->
<script language="javascript" type="text/javascript">
    $(function () {
        $("#Selectimages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Txtimages").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>


<!--javascrip textbox ckeditor  -->
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
       
    }
    $(function () {
        createEditor('vi', 'TxtHtmlcontent');  //mã code tiếng việt
        createEditor('vi', 'TxtHtmlcontentEn'); //mã code tiếng anh
    });

</script>