@model IList<Web_Shop_SettingIphone.Models.Entity.GroupMenuSanPham>
@foreach (var item in Model)
{
     <option value="@item.Id">
           &nbsp;&nbsp;&nbsp;&nbsp;@item.Name
      </option>
    
        Html.RenderAction("MenuLeverMuti_lever3", "MenuLeverMuti", new { id = item.Id, select = ViewBag.select });
    

}
