@model IList<Web_Shop_SettingIphone.Models.Entity.GroupMenuSanPham>
@foreach (var item in Model)
{
   <option value="@item.Id">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Name
    </option>
}

